<script setup lang="ts">
import TheWelcome from "@/components/TheWelcome.vue";
import Client from "commerce-api-client";

const client = new Client()
client.test()
</script>

<template>
  <main>
    <TheWelcome />
  </main>
</template>
